.big{
    width: 100%;
    height: 100%;
    /*background-color: red ;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse; 
}

.concepts{
    height: 100%;
    width: 57%;
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
   /*background: linear-gradient(to right , white , rgb(245, 181, 245) , rgb(194, 194, 116));*/
   background: linear-gradient(90deg, #B8A0E8 0%, #D4B8E8 33%, #E8D4B8 66%, #E8D89E 100%);
   -webkit-background-clip: text;   
  background-clip: text;          
  color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color:green;*/
}

.title h1{
  font-size: 1.7rem;
  font-weight: 900;
  letter-spacing: 0px;
  margin-left: 25px;
}

.lists{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid rgb(81, 76, 76);
    border-radius: 10px;
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(146, 142, 142, 0.15);
     backdrop-filter: blur(15px);
    }

.lists li{
    margin-top: 10px;
    font-weight: 700;
}

.big2{
    width: 100%;
    height: 100%;
    /*background-color: red ;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row; 
}

.title2{         
    height: 100%;
    width: 19%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; 
}

.title2 h1{
    /*background: linear-gradient(to top, rgb(201, 214, 158), rgb(194, 194, 116));*/
    background: linear-gradient(to top , #F5E6B3 0%, #C9E3B8 50%, #7DE0C8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    writing-mode: vertical-rl;  /* vertical, top-to-bottom, right-to-left */
    transform: rotate(180deg);
    font-size: 5rem;
    font-weight: 700;
}

.content2{
    height: 100%;
    width: 81%;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adr1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    background: linear-gradient(90deg, #B8A0E8 0%, #D4B8E8 33%, #E8D4B8 66%, #E8D89E 100%);

   -webkit-background-clip: text;   
  background-clip: text;          
  color: transparent;
}

.adr1 h1{
    font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0px;
  margin-left: 25px; 
}

.explain1{
    /*background-color: red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 30px;
}

.explain1 li{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.photo1{
    width: 50%;
    height: 50%;
    border: 1px solid rgb(81, 76, 76);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.big3{
    width: 100%;
    height: 100%;
    /*background-color: red ;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row; 
}

.title3{
    height: 100%;
    width: 19%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.title3 h1{
    /*background: linear-gradient(to top, rgb(201, 214, 158), rgb(194, 194, 116));*/
    background: linear-gradient(to top , #F5E6B3 0%, #C9E3B8 50%, #7DE0C8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    writing-mode: vertical-rl;  /* vertical, top-to-bottom, right-to-left */
    /*text-orientation: ;  /* keep letters upright */
    transform: rotate(180deg);
    font-size: 4.8rem;
    letter-spacing: 0px;
    font-weight: 600;
}

.content3{
    height: 100%;
    width: 81%;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adr2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    background: linear-gradient(90deg, #B8A0E8 0%, #D4B8E8 33%, #E8D4B8 66%, #E8D89E 100%);

   -webkit-background-clip: text;   
  background-clip: text;          
  color: transparent;
}

.adr2 h1{
    
    font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0px;
  margin-left: 25px; 
}

.explain2{
    /*background-color: red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 30px;
}

.explain2 li{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    /*margin-left: 10%;*/
    margin-top: 10px;
}

.big4{
    width: 100%;
    height: 100%;
    /*background-color: red ;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row; 
}

.title4{
    height: 100%;
    width: 19%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.title4 h1{
    /*background: linear-gradient(to top, rgb(201, 214, 158), rgb(194, 194, 116));*/
    background: linear-gradient(to top , #F5E6B3 0%, #C9E3B8 50%, #7DE0C8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    writing-mode: vertical-rl;  /* vertical, top-to-bottom, right-to-left */
    /*text-orientation: ;  /* keep letters upright */
    transform: rotate(180deg);
    font-size: 4.8rem; 
    letter-spacing: 0px;
    font-weight: 700;
}

.content4{
    height: 100%;
    width: 81%;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adr3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    background: linear-gradient(90deg, #B8A0E8 0%, #D4B8E8 33%, #E8D4B8 66%, #E8D89E 100%);

   -webkit-background-clip: text;   
  background-clip: text;          
  color: transparent;
}

.adr3 h1{
    font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0px;
  margin-left: 25px; 
}

.explain3{
    /*background-color: red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 30px;
}

.explain3 li{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    /*margin-left: 10%;*/
    margin-top: 10px;
}

.big5{
    width: 100%;
    height: 100%;
    /*background-color: red ;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row; 
}

.title5{
    height: 100%;
    width: 19%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.title5 h1{
    /*background: linear-gradient(to top, rgb(201, 214, 158), rgb(194, 194, 116));*/
    background: linear-gradient(to top , #F5E6B3 0%, #C9E3B8 50%, #7DE0C8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    writing-mode: vertical-rl;  /* vertical, top-to-bottom, right-to-left */
    /*text-orientation: ;  /* keep letters upright */
    transform: rotate(180deg);
    font-size: 4.8rem;
    letter-spacing: 0px;
    font-weight: 700;
}

.content5{
    height: 100%;
    width: 81%;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
}

.half1{
    width: 100%;
    height: 50%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: flex-start;
}

.half1 .google-photo{
    margin-left: 30px;
    width: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(81, 76, 76);
    border-radius: 10px;
}

.half2{
    width: 100%;
    height: 50%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.half2 .yahoo-photo{
    margin-left: 37px;
    width: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(81, 76, 76);
    border-radius: 10px;

}

.big6{
    width: 100%;
    height: 100%;
    /*background-color: red ;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row; 
}

.title6{
    height: 100%;
    width: 19%;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.title6 h1{
    background: linear-gradient(to top , #F5E6B3 0%, #C9E3B8 50%, #7DE0C8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    writing-mode: vertical-rl;  /* vertical, top-to-bottom, right-to-left */
    /*text-orientation: ;  /* keep letters upright */
    transform: rotate(180deg);
    font-size: 4rem;
    letter-spacing: 0px;
    margin-right: 3px;
    font-weight: 700;
}

.content6{
    height: 100%;
    width: 81%;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.adr6{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    background: linear-gradient(90deg, #B8A0E8 0%, #D4B8E8 33%, #E8D4B8 66%, #E8D89E 100%);

   -webkit-background-clip: text;   
  background-clip: text;          
  color: transparent;
}

.adr6 h1{
    font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0px;
  margin-left: 25px; 
}

.explain6{
    /*background-color: red;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*text-align: center;*/
    padding: 30px;
}

.explain6 li{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0px;
}

.explain6 h1{
    font-size: 2.3rem;
    font-weight: 700;
    background: linear-gradient(90deg, #B8A0E8 0%, #D4B8E8 33%, #E8D4B8 66%, #E8D89E 100%);

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
}

/*.explain6 h1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
}*/

#alert{
    font-size: 3rem;
    background: linear-gradient(to left, rgb(224, 10, 10), rgb(234, 158, 158));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 600;
}


.small{
    display: none;
}

@media (max-width: 768px) {
    .big{
        display: none;
    }

    .small{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    }

    .smalll{
        height: 100%;
        width: 70%;
        /*background-color: blue;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 17px;
    }
    
    .title h1{
        font-size: 1rem;
        font-weight: 900;
        letter-spacing: 0px;
        /*margin-left: 25px;*/
        text-align: center;
    }

    .lists{
        width: 100%;
         backdrop-filter: blur(15px);
    }

    .lists li{
        font-size: 0.9rem;
        text-align: center;
    }

    .lists h3{
        font-size: 1.4rem;
    }

    .title2{
        display: none;
    }

    .content2{
        width: 100%;
        /*background-color: red;*/
    }

    .adr1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .adr1 h1{
        font-size: 1.6rem;
        text-align: center;
    }

    .explain1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: none;
        padding: 30px;
    }
    .explain1 li{
        font-size: 1rem;
        list-style: none;
    }

    .photo1 {
        width: 60%;
        height: 40%;
    }



    .title3{
        display: none;
    }

    .content3{
        width: 100%;
        /*background-color: red;*/
        margin-left: 0px;
    }

    .adr2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .adr2 h1{
        font-size: 1.6rem;
        text-align: center;
    }

    .explain2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: none;
        padding: 30px;
    }
    .explain2 li{
        font-size: 1rem;
        margin-left: 0px;
    }

    
    .title4{
        display: none;
    }

    .content4{
        width: 100%;
        /*background-color: red;*/
        margin-left: 0px;
    }

    .adr3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .adr3 h1{
        font-size: 1.6rem;
        text-align: center;
    }

    .explain3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: none;
        padding: 30px;
    }
    .explain3 li{
        font-size: 1rem;
        margin-left: 0px;
    }

    .title5{
        display: none;
    }

    .content5{
        /*background-color: red;*/
        width: 100%;
        /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
    }

    .half1{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .half1 .google-photo{
        margin-left: 0px;
    }

    .half2{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .half2 .yahoo-photo{
        margin-left: 0px;
    }

    .half1 h1 , .half2 h1{
        display: none;
    }

    .title6{
        display: none;
    }

    .content6{
        width: 100%;
        /*background-color: red;*/
        margin-left: 0px;
    }

    .adr6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .adr6 h1{
        font-size: 1.6rem;
        text-align: center;
    }

    .explain6{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: none;
        padding: 30px;
    }
    .explain6 li{
        font-size: 1rem;
        margin-left: 0px;
    }
    .explain6 h1{
        font-size: 1.3rem;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .explain6 #alert{
        font-size: 1.3rem;
        text-align: center;
    }   
}